<template>
  <div id="calculator">
    <h1>Roman calculator</h1>
    <h2>Make calculations like an ancient roman! Use the buttons below or type directly</h2>
    <input v-model="expression" v-on:keypress="checkExpression" type="text"/>
    <table id="numpad">
      <tr v-for="(row, i) in padSymbols" v-bind:key="`pad-row-${i}`">
        <td v-for="(symbol, j) in row" v-bind:key="`pad-symbol-${j}`">
          <button v-on:click="type(symbol)">{{symbol}}</button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Calculator',
  data () {
    return {
      expression: '',
      toBeEmptied: false,
      padSymbols: [
        ['I', 'V', 'X', '^'],
        ['L', 'C', '+', '-'],
        ['D', 'M', '*', '/'],
        ['(', ')', 'DEL', '=']
      ]
    }
  },
  methods: {
    type: function (symbol) {
      switch (symbol) {
        case '=':
          this.calculate()
          break
        case 'DEL':
          if (this.toBeEmptied) {
            this.expression = ''
            this.toBeEmptied = false
          } else {
            this.expression = this.expression.slice(0, -1)
          }
          break
        default:
          if (this.toBeEmptied) {
            this.expression = ''
            this.toBeEmptied = false
          }
          this.expression += symbol
      }
    },
    calculate: function () {
      this.http.get('/api/roman/calculate/' + this.expression)
        .then(response => {
          this.expression = response.data.result
        })
        .catch(error => {
          alert(error.response.data.message)
          // this.expression = ''
        }).then(() => {
          this.toBeEmptied = true
        })
    },
    checkExpression: function (e) {
      let code = (e.keyCode ? e.keyCode : e.which)
      let reg = /^[IVXLCDM+\-*/^() ]+?$/
      let c = String.fromCharCode(e.which)
      if (code === 13) {
        this.calculate()
      } else if (!reg.test(c)) {
        e.preventDefault()
      }
    }
  }
}
</script>

<style scoped>
#calculator input {
  text-align: center;
  width: 408px;
}
#numpad {
  margin-left: auto;
  margin-right: auto;
}
#numpad button {
  width: 100px;
  height: 30px;
}
</style>
