<template>
  <div id="converter">
    <h1>Roman-Arabic number converter</h1>
    <h2>Type a roman or arabic number in the corrective box and watch it update the other one!</h2>
    <div>
      <input v-model="roman" v-on:input="romanToArabic" v-on:keypress="checkRoman"
             type="text" placeholder="Roman number goes here"/>
      <span> &lt;==&gt; </span>
      <input v-model="arabic" v-on:input="arabicToRoman"
             type="number" placeholder="Arabic number goes here"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Converter',
  data () {
    return {
      roman: '',
      arabic: ''
    }
  },
  methods: {
    romanToArabic: function () {
      this.converter(this.roman)
    },
    arabicToRoman: function () {
      this.converter(this.arabic)
    },
    converter: function (number) {
      this.http.get('/api/roman/' + number)
        .then(response => {
          this.roman = response.data.roman
          this.arabic = response.data.arabic
        })
        .catch(error => {
          alert(error.response.data.message)
          this.roman = ''
          this.arabic = ''
        })
    },
    checkRoman: function (e) {
      let reg = /^[IVXLCDM]*$/
      let c = String.fromCharCode(e.which)
      if (!reg.test(c)) {
        e.preventDefault()
      }
    }
  }
}
</script>

<style scoped>
#converter input {
  text-align: center;
}
</style>
