<template>
  <div id="fizzbuzz">
    <h1>FizzBuzz checker</h1>
    <h2>Type a number in the box and get your FizzBuzz result today!</h2>
    <input v-model="number" v-on:input="checkFizzBuzz" type="number" placeholder="Insert number..."/>
    <p>Result is:</p>
    <h2>{{result}}</h2>
  </div>
</template>

<script>
export default {
  name: 'FizzBuzz',
  data () {
    return {
      number: 0,
      result: ''
    }
  },
  methods: {
    checkFizzBuzz: function () {
      this.http.get('/api/fizzbuzz/' + this.number)
        .then(response => {
          this.result = response.data.number
        })
    }
  }
}
</script>

<style scoped>
#fizzbuzz input {
  text-align: center;
}
</style>
