<template>
  <div>
    <h1>Programming test for Spirit AI</h1>
    <h2><strong>Author: </strong>Matteo Vettosi</h2>
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style scoped>

</style>
